.cart__item{
width: 300px;
border: 1px solid grey;
border-radius: 5px;

}

footer{
 display: flex;
 flex-direction: column;
 align-items: center;  
}

.cart-IS{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px;
}

.cart__item-footer{
    display: flex;
    flex-direction:row;
    justify-content:center;
}
   




