.cart{
display: flex;
flex-direction: column;
gap: 25px;
justify-content: center;
text-align: center;
justify-self: center;
}


.cart__container-item{
    display: flex;
    justify-content: center;
    gap: 5px;
}


button{
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(76, 196, 76);
}
      
 

